body {
 background-color: lightgray;  
}
.fa{
    color:#4183d7
}
span{
    font-size: 15px;
}
.inside-box{
    background-color:whitesmoke ;
    padding: 60px 10px;
    margin: 30px 10px
}
a{
    border-bottom: 1px solid blue;
}
.text{
    margin: 10px 0px;
}
.box{
    padding: 60px 0px;
}